#audioPlay {
    width: 24px;
    height:24px; 
   
    text-indent: -9999px;
    margin-right:12px;
    background:url('../../assets/images/play.png') center no-repeat;
    background-size:contain;
    display:block;
    cursor: pointer;
    &:active {
        transform:translateY(2px);
    }
    &:hover {
        opacity: 0.9;
    }
}   
#audioStop {
    width: 24px;
    height:24px; 
    
    text-indent: -9999px;
    cursor: pointer;
    background:url('../../assets/images/stop.png') center no-repeat;
    background-size:contain;
    display:block;
    &:active {
        transform:translateY(2px);
    }
    &:hover {
        opacity: 0.9;
    }
    margin-right:10px;
}
label[for="wire"] {
    color:#B7BABD;
    /* font-weight: 600; */
    font-size:24px;
}
label[for="volume"] {
    color:#B7BABD;
    /* font-weight: 600; */
    font-size:24px;
    margin-left:20px;
}
#materialType {
    margin-left:10px;
    width:20px;
    height:20px;
    cursor: pointer;
}
#audioVolume {
    margin-left:10px;
}